@font-face {
  font-family: 'Aestetika';
  src: url("./fonts/Aestetika.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Kazimir';
  src: url("./fonts/KazimirTextItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Kazimir';
  src: url("./fonts/KazimirTextRegular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

html,
body {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Kazimir", Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  background-color: #fdfdfd; }

a,
button {
  color: black; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.opacity--0 {
  opacity: 0; }

.wrap {
  width: 265px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

.header__wrap-fixed {
  min-height: 37px;
  margin-bottom: 20px; }

.header__menu {
  width: 265px;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s; }
  .header__menu.fixed {
    z-index: 2;
    position: fixed;
    top: 0;
    padding-top: 20px;
    margin-right: 25px;
    background-color: #fdfdfd; }

.header__logo {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
  padding-left: 10px;
  border-bottom: 1px solid black; }
  .header__logo:hover {
    outline: none;
    opacity: 0.6; }
  .header__logo:focus, .header__logo:active {
    outline: none;
    opacity: 0.4; }

.header__logo-text {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  text-transform: lowercase;
  font-family: "Aestetika", Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  color: black; }

.header__form {
  display: block;
  flex-basis: 100px;
  min-width: 100px;
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0;
  margin: 0;
  margin-right: 15px; }

.header__search {
  width: 100%;
  padding: 0;
  margin: 0; }

.search {
  position: relative; }

.search__label {
  position: absolute;
  pointer-events: none;
  bottom: 7px;
  right: 5px;
  font-family: "Aestetika", Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.search__input {
  display: block;
  width: 100%;
  min-width: 100px;
  padding: 0;
  padding-left: 11px;
  padding-right: 20px;
  padding-bottom: 6px;
  margin: 0;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  font-family: "Aestetika", Arial, sans-serif;
  color: black; }
  .search__input:hover {
    outline: none; }
  .search__input:active, .search__input:focus {
    outline: none; }
    .search__input:active + .search__label, .search__input:focus + .search__label {
      opacity: 0;
      pointer-events: none; }

.search__reset {
  position: relative;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 7px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.6s;
  transition: 0.6s; }
  .search__reset::before, .search__reset::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: black;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  .search__reset::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .search__reset::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .search__reset:hover {
    outline: none; }
    .search__reset:hover::after, .search__reset:hover::before {
      background-color: #dd5157; }
  .search__reset:focus, .search__reset:active {
    outline: none; }
    .search__reset:focus::after, .search__reset:focus::before, .search__reset:active::after, .search__reset:active::before {
      background-color: #dd5157;
      opacity: 0.6; }
  .search__reset.active {
    opacity: 1;
    pointer-events: auto; }

.header__lang {
  width: auto;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 7px;
  border-bottom: 1px solid black;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  font-family: "Aestetika", Arial, sans-serif;
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s; }
  .header__lang:hover {
    color: #dd5157; }

.header__tags {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 1.5s linear;
  transition: 1.5s linear; }
  .header__tags.active {
    max-height: 1000px;
    -webkit-transition: max-height 4s linear;
    transition: max-height 4s linear; }

.tags {
  display: block;
  -webkit-transition: 0.4;
  transition: 0.4; }

.tags__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px; }

.tags__item {
  display: inline-block; }
  .tags__item.grant span {
    color: #4880be; }
  .tags__item.project span {
    color: #5ea462; }
  .tags__item.book span {
    color: #6f5cad; }
  .tags__item.about span {
    color: #fff22d; }
  .tags__item.active span {
    color: black; }

.tags__link {
  color: #dd5157;
  text-decoration: none; }
  .tags__link span {
    color: #dd5157;
    -webkit-transition: 0.6s;
    transition: 0.6s; }
  .tags__link.active span {
    color: black; }

@media (min-width: 374px) {
  .header__lang {
    width: auto;
    padding-left: 10px;
    padding-right: 10px; }
  .header__menu.fixed {
    width: 326px; }
  .header__logo {
    margin-right: 20px; }
  .header__form {
    margin-right: 20px; }
  .search__label {
    right: 4px; } }

@media (min-width: 550px) {
  .header__menu.fixed {
    width: 493px; }
  .header__logo {
    padding-right: 45px; }
  .header__lang {
    width: auto;
    padding-left: 9px;
    padding-right: 9px; } }

@media (min-width: 900px) {
  .header__wrap-fixed {
    min-height: 87px;
    margin-bottom: 20px; }
  .header__menu {
    margin-bottom: 30px; }
    .header__menu.fixed {
      padding-top: 53px;
      width: 770px; }
  .header__logo {
    padding-left: 20px;
    padding-right: 182px; }
  .header__logo-text {
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 14px; }
  .search__input {
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 55px; }
  .search__label {
    bottom: 14px;
    right: 115px;
    font-size: 18px;
    line-height: 13px; }
  .header__lang {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 13px; }
  .search__reset {
    width: 30px;
    height: 30px;
    bottom: 8px;
    right: 15px; }
    .search__reset::before, .search__reset::after {
      width: 27px; }
  .header__tags {
    -webkit-transition: 2s;
    transition: 2s; }
  .tags {
    padding-bottom: 0;
    margin-bottom: 0; }
  .tags__list {
    -webkit-transition: 2s;
    transition: 2s;
    border-bottom: 1px solid transparent;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black; }
  .tags__link {
    font-size: 18px;
    line-height: 25px; } }

@media (min-width: 1300px) {
  .header__menu.fixed {
    width: 1165px; }
  .search__label {
    right: 510px; } }

.footer__logo {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  width: 50px;
  margin-left: 0; }
  .footer__logo:hover {
    outline: none;
    opacity: 0.6; }
  .footer__logo:focus, .footer__logo:active {
    outline: none;
    opacity: 0.4; }

.footer__info {
  text-align: center;
  margin-left: 40px;
  margin-right: 25px;
  margin-top: -18px;
  padding-top: 15px;
  border-top: 1px solid black; }

.info__logo {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px; }
  .info__logo:hover {
    outline: none;
    opacity: 0.6; }
  .info__logo:focus, .info__logo:active {
    outline: none;
    opacity: 0.4; }

.info__desc {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 300; }

@media (min-width: 900px) {
  .footer__logo {
    width: 45px;
    height: 45px; }
    .footer__logo img {
      width: 100%;
      height: auto; }
  .info {
    width: 695px;
    padding-top: 20px;
    margin-top: -24px;
    margin-right: 0;
    margin-left: auto;
    display: -webkit-box;
    display: flex; }
  .info__logo {
    margin: 0;
    width: 75px;
    margin-right: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
    .info__logo img {
      width: 100%;
      height: auto;
      padding-bottom: 3px; }
  .info__desc {
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1300px) {
  .info {
    width: 1095px; }
  .info__logo {
    width: 83px;
    margin-left: 127px;
    margin-right: 20px; }
    .info__logo img {
      padding-bottom: 5px; }
  .info__desc {
    font-size: 18px;
    line-height: 24px; } }

.article {
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid black; }
  .article.grant .article__figure::after {
    background-color: #3994fc;
    opacity: 0.6; }
  .article.project .article__figure::after {
    background-color: #5ea462;
    opacity: 0.6; }
  .article.book .article__figure::after {
    background-color: #6f5cad;
    opacity: 0.6; }
  .article.about .article__figure::after {
    background-color: rgba(255, 200, 30, 0.6); }

.article__time {
  padding-left: 10px;
  font-style: normal;
  font-weight: 700;
  font-family: "Aestetika", Arial, sans-serif;
  font-size: 10px;
  line-height: 10px; }

.article__link {
  text-decoration: none; }
  .article__link:hover .article__figcaption {
    opacity: 0; }
  .article__link:hover .article__figure img {
    -webkit-filter: none;
            filter: none;
    filter: none;
    opacity: 1; }
  .article__link:hover .article__figure::after {
    opacity: 0; }

.article__figure {
  height: 140px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .article__figure img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-filter: gray;
            filter: gray;
    opacity: 0.7;
    -webkit-transition: 0.6s;
    transition: 0.6s; }
  .article__figure::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 68, 68, 0.6);
    -webkit-transition: 0.6s;
    transition: 0.6s; }

.article__figcaption {
  position: relative;
  z-index: 1;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.article__author {
  color: black;
  text-decoration: none;
  font-family: "Aestetika", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  line-height: 11px; }

.article__title {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  font-family: "Aestetika", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

@media (min-width: 374px) {
  .wrap {
    width: 326px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .blog {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
            justify-content: flex-start; }
    .blog .blog__article {
      width: 153px;
      height: 110px;
      margin-right: 20px; }
      .blog .blog__article:nth-child(2n + 2) {
        margin-right: 0; }
    .blog .article__figcaption {
      height: 70px;
      overflow: hidden; }
    .blog .article__figure {
      height: 85%; }
      .blog .article__figure img {
        height: auto;
        width: 100%; }
    @supports (display: grid) {
      .blog {
        display: grid;
        grid-template-columns: repeat(2, 153px);
        grid-auto-rows: 62px;
        grid-column-gap: 20px; }
        .blog .article__figure img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
        .blog .blog__article {
          margin-bottom: 20px;
          height: auto; }
          .blog .blog__article:nth-child(6n + 1) {
            grid-row: auto /span 4; }
            .blog .blog__article:nth-child(6n + 1) .article__figure {
              height: 205px; }
          .blog .blog__article:nth-child(6n + 2) {
            grid-row: auto /span 2; }
            .blog .blog__article:nth-child(6n + 2) .article__figure {
              height: 81px; }
          .blog .blog__article:nth-child(6n + 3) {
            grid-row: auto /span 3; }
            .blog .blog__article:nth-child(6n + 3) .article__figure {
              height: 143px; }
          .blog .blog__article:nth-child(6n + 4) {
            grid-row: auto /span 2; }
            .blog .blog__article:nth-child(6n + 4) .article__figure {
              height: 81px; }
          .blog .blog__article:nth-child(6n + 5) {
            grid-row: auto /span 4; }
            .blog .blog__article:nth-child(6n + 5) .article__figure {
              height: 205px; }
          .blog .blog__article:nth-child(6n + 6) {
            grid-row: auto /span 3; }
            .blog .blog__article:nth-child(6n + 6) .article__figure {
              height: 143px; } }
  @supports (display: grid) {
    .article {
      margin-bottom: 0; }
      .article .article__figure {
        height: 100%; } } }

@media (min-width: 550px) {
  .wrap {
    width: 495px; }
  .blog .blog__article {
    width: 151px;
    height: 110px;
    margin-right: 20px; }
    .blog .blog__article:nth-child(2n + 2) {
      margin-right: 20px; }
    .blog .blog__article:nth-child(3n + 3) {
      margin-right: 0; }
  @supports (display: grid) {
    .blog {
      display: grid;
      grid-template-columns: repeat(3, 151px);
      grid-auto-rows: 62px;
      grid-column-gap: 20px; }
      .blog .blog__article {
        margin-bottom: 20px;
        height: auto; }
        .blog .blog__article:nth-child(9n + 1) {
          grid-row: auto /span 4; }
          .blog .blog__article:nth-child(9n + 1) .article__figure {
            height: 205px; }
        .blog .blog__article:nth-child(9n + 2) {
          grid-row: auto /span 2; }
          .blog .blog__article:nth-child(9n + 2) .article__figure {
            height: 81px; }
        .blog .blog__article:nth-child(9n + 3) {
          grid-row: auto /span 3; }
          .blog .blog__article:nth-child(9n + 3) .article__figure {
            height: 143px; }
        .blog .blog__article:nth-child(9n + 4) {
          grid-row: auto /span 3; }
          .blog .blog__article:nth-child(9n + 4) .article__figure {
            height: 143px; }
        .blog .blog__article:nth-child(9n + 5) {
          grid-row: auto /span 4; }
          .blog .blog__article:nth-child(9n + 5) .article__figure {
            height: 205px; }
        .blog .blog__article:nth-child(9n + 6) {
          grid-row: auto /span 2; }
          .blog .blog__article:nth-child(9n + 6) .article__figure {
            height: 81px; }
        .blog .blog__article:nth-child(9n + 7) {
          grid-row: auto /span 4; }
          .blog .blog__article:nth-child(9n + 7) .article__figure {
            height: 205px; }
        .blog .blog__article:nth-child(9n + 8) {
          grid-row: auto /span 3; }
          .blog .blog__article:nth-child(9n + 8) .article__figure {
            height: 143px; }
        .blog .blog__article:nth-child(9n + 9) {
          grid-row: auto /span 2; }
          .blog .blog__article:nth-child(9n + 9) .article__figure {
            height: 81px; } } }

@media (min-width: 900px) {
  .wrap {
    width: 770px; }
  .article__time {
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 19px; }
  .article__author {
    font-size: 18px;
    line-height: 19px; }
  .article__title {
    font-size: 36px;
    line-height: 28px; }
  .article__figcaption {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px; }
  .blog {
    margin-bottom: 50px; }
    .blog .blog__article {
      width: 375px;
      height: 265px;
      margin-right: 20px; }
      .blog .blog__article:nth-child(3n + 3) {
        margin-right: 20px; }
      .blog .blog__article:nth-child(2n + 2) {
        margin-right: 0; }
    .blog .article__figcaption {
      height: 208px; }
    @supports (display: grid) {
      .blog {
        display: grid;
        grid-template-columns: repeat(2, 375px);
        grid-auto-rows: 130px;
        grid-column-gap: 20px; }
        .blog .blog__article {
          margin-bottom: 20px;
          height: auto; }
          .blog .blog__article:nth-child(6n + 1) {
            grid-row: auto /span 4; }
            .blog .blog__article:nth-child(6n + 1) .article__figure {
              height: 455px; }
            .blog .blog__article:nth-child(6n + 1) .article__title {
              -webkit-line-clamp: 7; }
          .blog .blog__article:nth-child(6n + 2) {
            grid-row: auto /span 2; }
            .blog .blog__article:nth-child(6n + 2) .article__figure {
              height: 195px; }
            .blog .blog__article:nth-child(6n + 2) .article__title {
              -webkit-line-clamp: 4; }
          .blog .blog__article:nth-child(6n + 3) {
            grid-row: auto /span 3; }
            .blog .blog__article:nth-child(6n + 3) .article__figure {
              height: 325px; }
            .blog .blog__article:nth-child(6n + 3) .article__title {
              -webkit-line-clamp: 5; }
          .blog .blog__article:nth-child(6n + 4) {
            grid-row: auto /span 2; }
            .blog .blog__article:nth-child(6n + 4) .article__figure {
              height: 195px; }
            .blog .blog__article:nth-child(6n + 4) .article__title {
              -webkit-line-clamp: 4; }
          .blog .blog__article:nth-child(6n + 5) {
            grid-row: auto /span 4; }
            .blog .blog__article:nth-child(6n + 5) .article__figure {
              height: 455px; }
            .blog .blog__article:nth-child(6n + 5) .article__title {
              -webkit-line-clamp: 7; }
          .blog .blog__article:nth-child(6n + 6) {
            grid-row: auto /span 3; }
            .blog .blog__article:nth-child(6n + 6) .article__figure {
              height: 325px; }
            .blog .blog__article:nth-child(6n + 6) .article__title {
              -webkit-line-clamp: 5; } } }

@media (min-width: 1300px) {
  .wrap {
    width: 1165px; }
  .blog .blog__article:nth-child(2n + 2) {
    margin-right: 20px; }
  .blog .blog__article:nth-child(3n + 3) {
    margin-right: 0; }
  @supports (display: grid) {
    .blog {
      display: grid;
      grid-template-columns: repeat(3, 375px); }
      .blog .blog__article {
        margin-bottom: 20px;
        height: auto; }
        .blog .blog__article:nth-child(9n + 1) {
          grid-row: auto /span 4; }
          .blog .blog__article:nth-child(9n + 1) .article__figure {
            height: 455px; }
          .blog .blog__article:nth-child(9n + 1) .article__title {
            -webkit-line-clamp: 7; }
        .blog .blog__article:nth-child(9n + 2) {
          grid-row: auto /span 2; }
          .blog .blog__article:nth-child(9n + 2) .article__figure {
            height: 195px; }
          .blog .blog__article:nth-child(9n + 2) .article__title {
            -webkit-line-clamp: 4; }
        .blog .blog__article:nth-child(9n + 3) {
          grid-row: auto /span 3; }
          .blog .blog__article:nth-child(9n + 3) .article__figure {
            height: 325px; }
          .blog .blog__article:nth-child(9n + 3) .article__title {
            -webkit-line-clamp: 5; }
        .blog .blog__article:nth-child(9n + 4) {
          grid-row: auto /span 3; }
          .blog .blog__article:nth-child(9n + 4) .article__figure {
            height: 325px; }
          .blog .blog__article:nth-child(9n + 4) .article__title {
            -webkit-line-clamp: 5; }
        .blog .blog__article:nth-child(9n + 5) {
          grid-row: auto /span 4; }
          .blog .blog__article:nth-child(9n + 5) .article__figure {
            height: 455px; }
          .blog .blog__article:nth-child(9n + 5) .article__title {
            -webkit-line-clamp: 7; }
        .blog .blog__article:nth-child(9n + 6) {
          grid-row: auto /span 2; }
          .blog .blog__article:nth-child(9n + 6) .article__figure {
            height: 195px; }
          .blog .blog__article:nth-child(9n + 6) .article__title {
            -webkit-line-clamp: 4; }
        .blog .blog__article:nth-child(9n + 7) {
          grid-row: auto /span 4; }
          .blog .blog__article:nth-child(9n + 7) .article__figure {
            height: 455px; }
          .blog .blog__article:nth-child(9n + 7) .article__title {
            -webkit-line-clamp: 7; }
        .blog .blog__article:nth-child(9n + 8) {
          grid-row: auto /span 3; }
          .blog .blog__article:nth-child(9n + 8) .article__figure {
            height: 325px; }
          .blog .blog__article:nth-child(9n + 8) .article__title {
            -webkit-line-clamp: 5; }
        .blog .blog__article:nth-child(9n + 9) {
          grid-row: auto /span 2; }
          .blog .blog__article:nth-child(9n + 9) .article__figure {
            height: 195px; }
          .blog .blog__article:nth-child(9n + 9) .article__title {
            -webkit-line-clamp: 4; } } }

.sharing {
  width: 100%;
  position: fixed;
  pointer-events: none;
  margin-left: auto;
  margin-right: 0;
  right: 0;
  bottom: 0; }

.sharing__list {
  pointer-events: auto;
  width: 22px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: -15px;
  margin-bottom: 15px;
  padding: 0; }

.sharing__item {
  margin-bottom: 5px; }

.sharing__link {
  -webkit-transition: 0.6s;
  transition: 0.6s; }
  .sharing__link:hover {
    outline: none;
    opacity: 0.6; }
  .sharing__link:focus, .sharing__link:active {
    outline: none;
    opacity: 0.4; }

.sharing__link-arrow {
  opacity: 0;
  margin: 0;
  margin-left: auto;
  margin-right: -8px;
  padding: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  -webkit-transform: translateX(3px) rotate(45deg);
          transform: translateX(3px) rotate(45deg);
  -webkit-transition: 0.6s;
  transition: 0.6s; }
  .sharing__link-arrow.active {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 1;
    cursor: pointer;
    pointer-events: auto; }
    .sharing__link-arrow.active:hover {
      outline: none;
      opacity: 0.6; }
    .sharing__link-arrow.active:focus, .sharing__link-arrow.active:active {
      outline: none;
      opacity: 0.4; }

@media (min-width: 900px) {
  .sharing__list {
    width: 40px;
    margin-bottom: 35px;
    margin-right: -40px; }
  .sharing__item {
    margin-bottom: 15px; }
  .sharing__link {
    width: 40px;
    height: 40px; }
    .sharing__link img {
      width: 100%;
      height: auto; }
  .sharing__link-arrow {
    margin-right: -26px;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-transform: translateX(3px) rotate(45deg);
            transform: translateX(3px) rotate(45deg); } }

.article-page .article-page__author-link,
.article-page h1,
.article-page .article-page__caption,
.article-page .article-page__custom-text h2 {
  color: #dd5157; }

.article-page.grant .article-page__author-link,
.article-page.grant h1,
.article-page.grant .article-page__caption,
.article-page.grant .article-page__custom-text h2 {
  color: #4880be; }

.article-page.project .article-page__author-link,
.article-page.project h1,
.article-page.project .article-page__caption,
.article-page.project .article-page__custom-text h2 {
  color: #5ea462; }

.article-page.book .article-page__author-link,
.article-page.book h1,
.article-page.book .article-page__caption,
.article-page.book .article-page__custom-text h2 {
  color: #6f5cad; }

.article-page.about .article-page__author-link,
.article-page.about h1,
.article-page.about .article-page__caption,
.article-page.about .article-page__custom-text h2 {
  color: #fff22d; }

.article-page a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline; }
  .article-page a:hover {
    outline: none;
    opacity: 0.6; }
  .article-page a:focus, .article-page a:active {
    outline: none;
    opacity: 0.4; }

.article-page .article-page__author-link {
  display: block;
  margin: 0;
  padding: 0;
  padding-right: 25px;
  margin-bottom: 5px;
  text-decoration: none; }

.article-page .article-page__note-num {
  cursor: pointer;
  position: relative;
  font-family: "Aestetika", Arial, sans-serif;
  color: #0481c3;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none; }
  .article-page .article-page__note-num:hover, .article-page .article-page__note-num:active, .article-page .article-page__note-num:focus {
    opacity: 1; }

.article-page p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-right: 25px;
  font-size: 14px;
  line-height: 18px; }
  .article-page p:nth-last-child(1) {
    margin-bottom: 0; }

.article-page h1 {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  font-style: normal;
  font-weight: 700;
  font-family: "Aestetika", Arial, sans-serif;
  font-size: 30px;
  line-height: 22px;
  margin-bottom: 10px; }

.article-page .tags__list {
  margin-bottom: 15px; }

.article-page blockquote {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-style: italic; }
  .article-page blockquote p {
    margin-bottom: 10px; }
    .article-page blockquote p:nth-last-child(1) {
      margin-bottom: 0; }

.article-page cite {
  display: block;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  padding-right: 25px; }

.article-page figure {
  margin: 0;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  margin-right: 25px;
  padding-left: 0;
  padding-right: 0; }
  .article-page figure::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: black; }
  .article-page figure:nth-last-child(1) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .article-page figure:nth-last-child(1)::after {
      content: none; }
  @media (min-width: 900px) {
    .article-page figure {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .article-page figure::after {
        width: 60%; }
      .article-page figure:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0; } }
  .article-page figure img {
    width: 100%;
    height: auto;
    -webkit-transition: 0.6s;
    transition: 0.6s; }

.article-page figcaption {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  line-height: 12px; }

.article-page ol {
  counter-reset: num;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 25px;
  font-size: 12px;
  line-height: 15px; }
  .article-page ol li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px; }
    .article-page ol li::after {
      content: counter(num) ".";
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: num; }

.article-page__main-text {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .article-page__main-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: black; }
  .article-page__main-text:nth-last-child(1) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .article-page__main-text:nth-last-child(1)::after {
      content: none; }
  @media (min-width: 900px) {
    .article-page__main-text {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .article-page__main-text::after {
        width: 60%; }
      .article-page__main-text:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0; } }

.article-page__author {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  font-family: "Aestetika", Arial, sans-serif;
  font-size: 22px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal; }

.article-page__tags {
  display: block;
  margin-bottom: 10px;
  padding-right: 25px; }
  .article-page__tags .tags__list {
    margin-bottom: 0; }
  .article-page__tags .tags__link {
    text-decoration: none; }
    .article-page__tags .tags__link:hover, .article-page__tags .tags__link:active, .article-page__tags .tags__link:focus {
      opacity: 1; }
      .article-page__tags .tags__link:hover span, .article-page__tags .tags__link:active span, .article-page__tags .tags__link:focus span {
        color: black; }

.article-page__preface {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .article-page__preface::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: black; }
  .article-page__preface:nth-last-child(1) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .article-page__preface:nth-last-child(1)::after {
      content: none; }
  @media (min-width: 900px) {
    .article-page__preface {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .article-page__preface::after {
        width: 60%; }
      .article-page__preface:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0; } }
  .article-page__preface p:nth-last-child(1) {
    margin-bottom: 0; }

.article-page__custom-text {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .article-page__custom-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: black; }
  .article-page__custom-text:nth-last-child(1) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .article-page__custom-text:nth-last-child(1)::after {
      content: none; }
  @media (min-width: 900px) {
    .article-page__custom-text {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .article-page__custom-text::after {
        width: 60%; }
      .article-page__custom-text:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0; } }
  .article-page__custom-text h2 {
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: "Aestetika", Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 17px; }
    .article-page__custom-text h2::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 1px;
      background-color: black; }
    .article-page__custom-text h2::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 1px;
      background-color: black; }
    .article-page__custom-text h2:nth-last-child(1) {
      padding-bottom: 0;
      margin-bottom: 0; }
      .article-page__custom-text h2:nth-last-child(1)::after {
        content: none; }
    @media (min-width: 900px) {
      .article-page__custom-text h2 {
        padding-bottom: 15px;
        margin-bottom: 15px; }
        .article-page__custom-text h2::before {
          width: 60%; }
        .article-page__custom-text h2::after {
          width: 60%; }
        .article-page__custom-text h2:nth-last-child(1) {
          padding-bottom: 0;
          margin-bottom: 0; } }
  .article-page__custom-text p {
    margin-top: 12px;
    margin-bottom: 15px; }
  .article-page__custom-text hr {
    width: 50%;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: auto;
    background-color: black; }
  .article-page__custom-text figure {
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 20px; }
    .article-page__custom-text figure::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 1px;
      background-color: black; }
    .article-page__custom-text figure::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 1px;
      background-color: black; }
    .article-page__custom-text figure:nth-last-child(1) {
      padding-bottom: 0;
      margin-bottom: 0; }
      .article-page__custom-text figure:nth-last-child(1)::after {
        content: none; }
    @media (min-width: 900px) {
      .article-page__custom-text figure {
        padding-bottom: 15px;
        margin-bottom: 15px; }
        .article-page__custom-text figure::before {
          width: 60%; }
        .article-page__custom-text figure::after {
          width: 60%; }
        .article-page__custom-text figure:nth-last-child(1) {
          padding-bottom: 0;
          margin-bottom: 0; } }
    .article-page__custom-text figure img:nth-last-child(1) {
      padding-bottom: 5px; }
  .article-page__custom-text strong {
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
    font-family: "Aestetika", Arial, sans-serif;
    font-weight: 700;
    text-transform: lowercase; }

.article-page__caption {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-right: 25px;
  font-family: "Aestetika", Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 17px; }
  .article-page__caption::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: black; }
  .article-page__caption:nth-last-child(1) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .article-page__caption:nth-last-child(1)::after {
      content: none; }
  @media (min-width: 900px) {
    .article-page__caption {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .article-page__caption::after {
        width: 60%; }
      .article-page__caption:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0; } }

.article-page__note {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 0; }
  .article-page__note::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: black; }
  .article-page__note:nth-last-child(1) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .article-page__note:nth-last-child(1)::after {
      content: none; }
  @media (min-width: 900px) {
    .article-page__note {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .article-page__note::after {
        width: 60%; }
      .article-page__note:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0; } }

.article-page__note-popup {
  cursor: auto;
  display: none;
  width: 270px;
  padding: 10px;
  padding-right: 35px;
  border: 1px solid black;
  position: absolute;
  top: 17px;
  font-family: "Kazimir", Arial, sans-serif;
  color: black;
  font-size: 12px;
  line-height: 15px;
  background-color: #fdfdfd;
  -webkit-transition: 0.6s;
  transition: 0.6s; }
  .article-page__note-popup.active {
    display: block; }

.article-page__note-close {
  position: relative;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 11px; }
  .article-page__note-close::before, .article-page__note-close::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: black;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  .article-page__note-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .article-page__note-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .article-page__note-close:hover {
    outline: none; }
    .article-page__note-close:hover::after, .article-page__note-close:hover::before {
      background-color: #dd5157; }
  .article-page__note-close:focus, .article-page__note-close:active {
    outline: none; }
    .article-page__note-close:focus::after, .article-page__note-close:focus::before, .article-page__note-close:active::after, .article-page__note-close:active::before {
      background-color: #dd5157;
      opacity: 0.6; }
  .article-page__note-close::after, .article-page__note-close::before {
    width: 20px; }

.article-page__interview {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .article-page__interview::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: black; }
  .article-page__interview:nth-last-child(1) {
    padding-bottom: 0;
    margin-bottom: 0; }
    .article-page__interview:nth-last-child(1)::after {
      content: none; }
  @media (min-width: 900px) {
    .article-page__interview {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .article-page__interview::after {
        width: 60%; }
      .article-page__interview:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0; } }
  .article-page__interview p:nth-last-child(1) {
    margin-bottom: 0; }

.article-page__interview-name {
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
  font-family: "Aestetika", Arial, sans-serif;
  font-weight: 700;
  text-transform: lowercase; }

@media (min-width: 374px) {
  .article-page .article-page__note-popup {
    width: 325px; } }

@media (min-width: 900px) {
  .article-page {
    margin-bottom: 65px; }
    .article-page a {
      font-size: 22px;
      line-height: 30px; }
    .article-page p {
      margin-bottom: 30px;
      margin-left: 200px;
      padding-right: 50px;
      font-size: 22px;
      line-height: 30px; }
      .article-page p:nth-last-child(1) {
        margin-bottom: 0; }
    .article-page h1 {
      font-size: 80px;
      line-height: 60px;
      padding-right: 50px;
      margin-bottom: 30px; }
    .article-page blockquote {
      margin-bottom: 30px;
      padding-right: 50px; }
      .article-page blockquote p {
        margin-bottom: 25px; }
    .article-page cite {
      font-size: 22px;
      line-height: 30px;
      padding-right: 50px; }
    .article-page figure {
      padding-top: 5px;
      margin-right: 0; }
      .article-page figure img {
        width: 700px;
        height: auto;
        margin-bottom: 5px; }
    .article-page figcaption {
      font-size: 18px;
      line-height: 24px; }
    .article-page ol {
      margin-left: 200px;
      font-size: 18px;
      line-height: 24px; }
      .article-page ol li {
        position: relative;
        padding-left: 70px;
        padding-right: 50px;
        margin-bottom: 25px; }
    .article-page .article-page__note-popup {
      width: 450px;
      padding: 15px;
      padding-right: 40px;
      top: 25px;
      font-size: 18px;
      line-height: 24px; }
  .article-page__author-link {
    margin-bottom: -5px; }
  .article-page__author {
    font-size: 40px;
    line-height: 44px;
    padding-right: 50px; }
  .article-page__tags {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-right: 50px;
    border: none; }
    .article-page__tags .tags__list {
      border-bottom: none;
      padding-bottom: 0; }
    .article-page__tags .tags__link {
      font-size: 18px;
      line-height: 24px; }
  .article-page__preface p {
    margin-left: 0; }
  .article-page__custom-text h2 {
    margin-bottom: 15px;
    padding-bottom: 23px;
    font-size: 40px;
    line-height: 31px; }
  .article-page__custom-text blockquote {
    margin-bottom: 20px; }
  .article-page__custom-text p {
    margin-bottom: 25px; }
  .article-page__custom-text figure {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px; }
    .article-page__custom-text figure figcaption {
      padding-bottom: 0; }
    .article-page__custom-text figure img:nth-last-child(1) {
      margin-bottom: 0;
      padding-bottom: 0; }
  .article-page__custom-text hr {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px; }
  .article-page__custom-text strong {
    font-size: 18px;
    line-height: 24px;
    margin-right: 15px; }
  .article-page__caption {
    margin-bottom: 15px;
    padding-bottom: 23px;
    font-size: 40px;
    line-height: 31px; }
  .article-page__note-num {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none; }
  .article-page__interview-name {
    font-size: 18px;
    line-height: 24px;
    margin-right: 15px; }
  .article-page__note {
    padding-top: 0; }
  .article-page__main-text {
    margin-bottom: 15px; }
  .article-page__note-close {
    top: 15px;
    right: 18px; }
    .article-page__note-close::after, .article-page__note-close::before {
      width: 26px; } }

@media (min-width: 1300px) {
  .article-page h1 {
    padding-right: 60px; }
  .article-page p,
  .article-page cite {
    padding-right: 200px; }
  .article-page figure {
    margin-right: 0; }
    .article-page figure.large img {
      width: 1150px; }
    .article-page figure.small img {
      width: 700px; }
    .article-page figure.medium img {
      width: 944px; }
    .article-page figure img {
      width: 700px;
      height: auto;
      margin-bottom: 10px; }
  .article-page__tags {
    padding-right: 60px; }
  .article-page__preface p {
    padding-right: 60px; }
  .article-page__custom-text h2 {
    padding-right: 200px; }
  .article-page__custom-text .S {
    width: 700px; }
  .article-page__custom-text .M {
    width: 944px; }
  .article-page__custom-text .L {
    width: 1165px; }
  .article-page__caption {
    padding-right: 200px; }
  .article-page__note ol {
    padding-right: 200px; }
    .article-page__note ol li {
      padding-right: 0; } }

/*# sourceMappingURL=style.css.map */
