// Переменные ////////////////////////////////////////////////////////////////////

$font-main: 'Kazimir',
Arial,
sans-serif;
$font-accent: 'Aestetika',
Arial,
sans-serif;
$mobile-width: 320px;
$mobile-width-wide: 374px;
$tablet-width: 550px;
$desktop-small-width: 790px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #fdfdfd;
$black: rgb(0, 0, 0);
$blue: #4880be;
$red: #dd5157;
$yellow: #fff22d;
$green: #5ea462;
$purple: #6f5cad;

// миксины mixins ////////////////////////////////////////////////////////////////////

@mixin animation {
  transition: 0.6s;

  &:hover {
    outline: none;
    opacity: 0.6;
  }

  &:focus,
  &:active {
    outline: none;
    opacity: 0.4;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin text ($size:12px, $line:17px) {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: $font-main;
  font-size: $size;
  font-weight: 300;
  line-height: $line;
}

@mixin close-btn {
  position: relative;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: $black;
    transform: translate(-50%);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    outline: none;

    &::after,
    &::before {
      background-color: $red;
    }
  }

  &:focus,
  &:active {
    outline: none;

    &::after,
    &::before {
      background-color: $red;
      opacity: 0.6;
    }
  }
}

@mixin line-bottom {
  position: relative;
  padding-bottom: 15px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: $black;
  }

  @media (min-width: $desktop-small-width) {
    &::after {
      width: 60%;
    }
  }
}

@mixin line-top {
  position: relative;
  padding-top: 15px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 1px;
    background-color: $black;
  }

  @media (min-width: $desktop-small-width) {
    &::before {
      width: 60%;
    }
  }
}

// блоки/blocks ////////////////////////////////////////////////////////////////////////


// глобальные/global////////////////////////////////////////////////////////////////////
@font-face {
  font-family: 'Aestetika';
  src: url('./fonts/Aestetika.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kazimir';
  src: url('./fonts/KazimirTextItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Kazimir';
  src: url('./fonts/KazimirTextRegular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  box-sizing: border-box;
  max-width: 100%;
  min-width: $mobile-width;
  overflow-x: hidden;
  margin: 0;
  @include text;
  background-color: $white;
}

a,
button {
  color: $black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}

.opacity--0 {
  opacity: 0;
}

// Хедер шапка сайта /////////////////////////////////////////////
.wrap {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.header__wrap-fixed {
  min-height: 27px;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  transition: background-color 0.4s;

  &.fixed {
    width: auto;
    z-index: 2;
    position: fixed;
    top: 0;
    padding-top: 20px;
    margin-right: 25px;
    background-color: $white;
  }
}

.header__logo {
  @include animation;
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  padding-left: 14px;
  border-bottom: 1px solid $black;
}

.header__logo-text {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  text-transform: lowercase;
  font-family: $font-accent;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  color: $black;
}

.header__form {
  display: block;
  flex-basis: 100px;
  min-width: 100px;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.header__search {
  width: 100%;
  padding: 0;
  margin: 0;
}

.search {
  position: relative;
}

.search__label {
  position: absolute;
  pointer-events: none;
  bottom: 7px;
  right: 5px;

  font-family: $font-accent;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  transition: 0.6s;
}

.search__input {
  display: block;
  width: 100%;
  min-width: 100px;
  padding: 0;
  padding-left: 11px;
  padding-right: 20px;
  padding-bottom: 6px;
  margin: 0;
  border: 0;
  border-bottom: 1px solid $black;

  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  font-family: $font-accent;
  color: $black;

  &:hover {
    outline: none;
  }

  &:active,
  &:focus {
    outline: none;

    &+.search__label {
      opacity: 0;
      pointer-events: none;
    }

    &~.search__reset {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.search__reset {
  @include close-btn;
  position: absolute;
  bottom: 7px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
}

.header__lang {
  width: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid $black;

  text-decoration: none;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  font-family: $font-accent;
  color: $black;

  transition: 0.6s;

  &:hover {
    color: $red;
  }
}

.header__tags {
  margin-bottom: 20px;
  transition: 0.6s;
}

.tags {
  display: none;
  transition: 0.4;

  &.active {
    display: block;
  }
}

.tags__list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.tags__item {
  display: inline-block;

  &.grant {
    span {
      color: $blue;
    }
  }

  &.project {
    span {
      color: $green;
    }
  }

  &.book {
    span {
      color: $purple;
    }
  }

  &.about {
    span {
      color: $yellow;
    }
  }

  &.active {
    span {
      color: $black;
    }
  }
}

.tags__link {
  color: $red;
  text-decoration: none;

  span {
    color: $red;
    transition: 0.6s;
  }

  &.active {
    span {
      color: $black;
    }
  }
}

@media (min-width: $mobile-width-wide) {
  .header__lang {
    width: 30px;
  }

  .header__menu {
    &.fixed {
      width: 326px;
    }
  }
}

@media (min-width: $tablet-width) {
  .header__menu {
    &.fixed {
      width: 495px;
    }
  }
}

@media (min-width: $desktop-small-width) {
  .header__menu {
    margin-bottom: 30px;

    &.fixed {
      padding-top: 53px;
      width: 770px;
    }
  }

  .header__logo-text {
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 13px;
  }

  .search__input {
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 55px;
  }

  .search__label {
    bottom: 14px;
    right: 310px;
    font-size: 18px;
    line-height: 13px;
  }

  .header__lang {
    width: 56px;
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 13px;
  }

  .search__reset {
    bottom: 14px;
    right: 28px;

    &::before,
    &::after {
      width: 27px;
    }
  }

  .tags {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $black;
  }

  .tags__link {
    font-size: 18px;
    line-height: 25px;

  }
}

@media (min-width: $desktop-width) {
  .header__menu {
    &.fixed {
      width: 1165px;
    }
  }

  .header__logo-text {
    width: 375px;
  }

  .search__label {
    right: 500px;
  }
}







// футер подвал сайта ///////////////////////////////////////////////////////////////////////////

.footer__logo {
  @include animation;
  display: block;
  width: 50px;
  margin-left: 0;

  img {}
}

.footer__info {
  text-align: center;
  margin-left: 40px;
  margin-top: -18px;
  padding-top: 15px;
  border-top: 1px solid $black;
}

.info__logo {
  @include animation;
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;

  img {}
}

.info__desc {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 300;
}

@media (min-width: $desktop-small-width) {
  .footer__logo {
    width: 45px;
    height: 45px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .info {
    width: 695px;
    padding-top: 20px;
    margin-top: -24px;
    margin-right: 0;
    margin-left: auto;
    display: flex;
  }

  .info__logo {
    margin: 0;
    width: 75px;
    margin-right: 20px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      padding-bottom: 3px;
    }
  }

  .info__desc {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    width: 1095px;
  }

  .info__logo {
    width: 83px;
    margin-left: 127px;
    margin-right: 20px;

    img {
      padding-bottom: 5px;
    }
  }

  .info__desc {
    font-size: 18px;
    line-height: 24px;
  }
}







// тело списка статей index.html блог /////////////////////////////////////////////////////////////////////////////

.article {
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid $black;

  &.grant {
    .article__figure {
      &::after {
        background-color: #3994fc;
        opacity: 0.6;
      }
    }
  }

  &.project {
    .article__figure {
      &::after {
        background-color: $green;
        opacity: 0.6;
      }
    }
  }

  &.book {
    .article__figure {
      &::after {
        background-color: $purple;
        opacity: 0.6;
      }
    }
  }

  &.about {
    .article__figure {
      &::after {
        background-color: rgba(255, 200, 30, 0.6);
      }
    }
  }
}

.article__time {
  padding-left: 10px;
  font-style: normal;
  font-weight: 700;
  font-family: $font-accent;
  font-size: 10px;
  line-height: 10px;
}

.article__link {
  text-decoration: none;

  &:hover {
    .article__figcaption {
      opacity: 0;
    }

    .article__figure {
      img {
        filter: none;
        filter: none;
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }
  }
}

.article__figure {
  height: 140px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    filter: grayscale(100%);
    filter: gray;
    opacity: 0.7;
    transition: 0.6s;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 68, 68, 0.6);
    transition: 0.6s;
  }
}

.article__figcaption {
  position: relative;
  z-index: 1;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  transition: 0.6s;
}

.article__author {
  color: $black;
  text-decoration: none;
  font-family: $font-accent;
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  line-height: 11px;
}

.article__title {
  margin: 0;
  padding: 0;
  color: $black;
  text-decoration: none;
  font-family: $font-accent;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 15px;

  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}





@media (min-width: $mobile-width-wide) {
  .wrap {
    width: 326px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .blog__article {
      width: 153px;
      height: 110px;
      margin-right: 20px;

      &:nth-child(2n + 2){
        margin-right: 0;
      }
    }
    .article__figcaption {
      height: 70px;
      overflow: hidden;
    }

    .article__figure {
      height: 85%;

      img {
        height: auto;
        width: 100%;
      }
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, 153px);
      grid-auto-rows: 62px;
      grid-column-gap: 20px;

      .article__figure {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .blog__article {
        margin-bottom: 20px;
        height: auto;

        &:nth-child(6n + 1) {
          grid-row: auto /span 4;

          .article__figure {
            height: 205px;
          }
        }

        &:nth-child(6n + 2) {
          grid-row: auto /span 2;

          .article__figure {
            height: 81px;
          }
        }

        &:nth-child(6n + 3) {
          grid-row: auto /span 3;

          .article__figure {
            height: 143px;
          }
        }

        &:nth-child(6n + 4) {
          grid-row: auto /span 2;

          .article__figure {
            height: 81px;
          }
        }

        &:nth-child(6n + 5) {
          grid-row: auto /span 4;

          .article__figure {
            height: 205px;
          }
        }

        &:nth-child(6n + 6) {
          grid-row: auto /span 3;

          .article__figure {
            height: 143px;
          }
        }
      }

    }
  }

  @supports (display: grid) {
    .article {
      margin-bottom: 0;

      .article__figure {
        height: 100%;
      }
    }
  }
}





@media (min-width: $tablet-width) {
  .wrap {
    width: 495px;
  }

  .blog {
    .blog__article {
      width: 151px;
      height: 110px;
      margin-right: 20px;

      &:nth-child(2n + 2){
        margin-right: 20px;
      }

      &:nth-child(3n + 3){
        margin-right: 0;
      }
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(3, 151px);
      grid-auto-rows: 62px;
      grid-column-gap: 20px;

      .blog__article {
        margin-bottom: 20px;
        height: auto;
        &:nth-child(9n + 1) {
          grid-row: auto /span 4;

          .article__figure {
            height: 205px;
          }
        }

        &:nth-child(9n + 2) {
          grid-row: auto /span 2;

          .article__figure {
            height: 81px;
          }
        }

        &:nth-child(9n + 3) {
          grid-row: auto /span 3;

          .article__figure {
            height: 143px;
          }
        }

        &:nth-child(9n + 4) {
          grid-row: auto /span 3;

          .article__figure {
            height: 143px;
          }
        }

        &:nth-child(9n + 5) {
          grid-row: auto /span 4;

          .article__figure {
            height: 205px;
          }
        }

        &:nth-child(9n + 6) {
          grid-row: auto /span 2;

          .article__figure {
            height: 81px;
          }
        }

        &:nth-child(9n + 7) {
          grid-row: auto /span 4;

          .article__figure {
            height: 205px;
          }
        }

        &:nth-child(9n + 8) {
          grid-row: auto /span 3;

          .article__figure {
            height: 143px;
          }
        }

        &:nth-child(9n + 9) {
          grid-row: auto /span 2;

          .article__figure {
            height: 81px;
          }
        }
      }
    }
  }
}



@media (min-width: $desktop-small-width) {
  .wrap {
    width: 770px;
  }

  .article__time {
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;

    font-size: 18px;
    line-height: 19px;
  }

  .article__author {
    font-size: 18px;
    line-height: 19px;
  }

  .article__title {
    font-size: 36px;
    line-height: 28px;
  }

  .article__figcaption {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .blog {
    margin-bottom: 50px;
    .blog__article {
      width: 375px;
      height: 265px;
      margin-right: 20px;

      &:nth-child(3n + 3){
        margin-right: 20px;
      }

      &:nth-child(2n + 2){
        margin-right: 0;
      }
    }

    .article__figcaption {
      height: 208px;
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, 375px);
      grid-auto-rows: 130px;
      grid-column-gap: 20px;

      .blog__article {
        margin-bottom: 20px;
        height: auto;

        &:nth-child(6n + 1) {
          grid-row: auto /span 4;

          .article__figure {
            height: 455px;
          }

          .article__title {
            -webkit-line-clamp: 7;
          }
        }

        &:nth-child(6n + 2) {
          grid-row: auto /span 2;

          .article__figure {
            height: 195px;
          }

          .article__title {
            -webkit-line-clamp: 4;
          }
        }

        &:nth-child(6n + 3) {
          grid-row: auto /span 3;

          .article__figure {
            height: 325px;
          }

          .article__title {
            -webkit-line-clamp: 5;
          }
        }

        &:nth-child(6n + 4) {
          grid-row: auto /span 2;

          .article__figure {
            height: 195px;
          }

          .article__title {
            -webkit-line-clamp: 4;
          }
        }

        &:nth-child(6n + 5) {
          grid-row: auto /span 4;

          .article__figure {
            height: 455px;
          }

          .article__title {
            -webkit-line-clamp: 7;
          }
        }

        &:nth-child(6n + 6) {
          grid-row: auto /span 3;

          .article__figure {
            height: 325px;
          }

          .article__title {
            -webkit-line-clamp: 5;
          }
        }
      }
    }
  }
}



@media (min-width: $desktop-width) {
  .wrap {
    width: 1165px;
  }

  .blog {
    .blog__article {

      &:nth-child(2n + 2){
        margin-right: 20px;
      }

      &:nth-child(3n + 3){
        margin-right: 0;
      }
    }
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(3, 375px);

      .blog__article {
        margin-bottom: 20px;
        height: auto;

        &:nth-child(9n + 1) {
          grid-row: auto /span 4;

          .article__figure {
            height: 455px;
          }

          .article__title {
            -webkit-line-clamp: 7;
          }
        }

        &:nth-child(9n + 2) {
          grid-row: auto /span 2;

          .article__figure {
            height: 195px;
          }

          .article__title {
            -webkit-line-clamp: 4;
          }

        }

        &:nth-child(9n + 3) {
          grid-row: auto /span 3;

          .article__figure {
            height: 325px;
          }

          .article__title {
            -webkit-line-clamp: 5;
          }
        }

        &:nth-child(9n + 4) {
          grid-row: auto /span 3;

          .article__figure {
            height: 325px;
          }

          .article__title {
            -webkit-line-clamp: 5;
          }
        }

        &:nth-child(9n + 5) {
          grid-row: auto /span 4;

          .article__figure {
            height: 455px;
          }

          .article__title {
            -webkit-line-clamp: 7;
          }
        }

        &:nth-child(9n + 6) {
          grid-row: auto /span 2;

          .article__figure {
            height: 195px;
          }

          .article__title {
            -webkit-line-clamp: 4;
          }
        }

        &:nth-child(9n + 7) {
          grid-row: auto /span 4;

          .article__figure {
            height: 455px;
          }

          .article__title {
            -webkit-line-clamp: 7;
          }
        }

        &:nth-child(9n + 8) {
          grid-row: auto /span 3;

          .article__figure {
            height: 325px;
          }

          .article__title {
            -webkit-line-clamp: 5;
          }
        }

        &:nth-child(9n + 9) {
          grid-row: auto /span 2;

          .article__figure {
            height: 195px;
          }

          .article__title {
            -webkit-line-clamp: 4;
          }
        }
      }
    }
  }
}

/////////////// Шаринг ////////////////

.sharing {
  width: 100%;
  position: fixed;
  pointer-events: none;

  margin-left: auto;
  margin-right: 0;
  right: 0;
  bottom: 0;
}

.sharing__list {
  pointer-events: auto;
  width: 22px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.sharing__item {
  margin-bottom: 10px;
}

.sharing__link {
  @include animation();
}

.sharing__link-arrow {
  @include animation();
  pointer-events: auto;
  margin: 0;
  margin-left: auto;
  margin-right: 5px;
  padding: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid $black;
  border-bottom: none;
  border-right: none;
  transform: translateX(3px) rotate(45deg);
}

@media (min-width: $desktop-small-width) {
  .sharing__list {
    width: 40px;
    margin-bottom: 50px;
  }

  .sharing__item {
    margin-bottom: 30px;
  }

  .sharing__link {
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .sharing__link-arrow {
    margin-right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    transform: translateX(3px) rotate(45deg);
  }
}






// article.html /////////////////////////////////////////////////////////////////////////////

.article-page {

  .article-page__author-link,
  h1,
  .article-page__caption {
    color: $red;
  }

  &.grant {

    .article-page__author-link,
    h1,
    .article-page__caption {
      color: $blue;
    }
  }

  &.project {

    .article-page__author-link,
    h1,
    .article-page__caption {
      color: $green;
    }
  }

  &.book {

    .article-page__author-link,
    h1,
    .article-page__caption {
      color: $purple;
    }
  }

  &.about {

    .article-page__author-link,
    h1,
    .article-page__caption {
      color: $yellow;
    }
  }

  a {
    @include animation;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-right: 25px;
    font-size: 14px;
    line-height: 18px;
  }

  .article-page__author-link {
    display: block;
    margin: 0;
    padding: 0;
    padding-right: 25px;
    margin-bottom: 5px;
    text-decoration: none;
  }

  .article-page__author {
    margin: 0;
    padding: 0;
    padding-right: 25px;
    font-family: $font-accent;
    font-size: 22px;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
  }

  h1 {
    margin: 0;
    padding: 0;
    padding-right: 25px;
    font-style: normal;
    font-weight: 700;
    font-family: $font-accent;
    font-size: 30px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .article-page__tags {
    display: block;
    margin-bottom: 12px;
    padding-right: 25px;

    .tags__link {
      text-decoration: none;
    }
  }

  .article-page__preface {
    @include line-bottom;
    margin-bottom: 15px;

    p {
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }

  blockquote {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-style: italic;

    p {
      margin-bottom: 10px;
    }
  }

  cite {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    padding-right: 25px;

  }

  .article-page__caption {
    @include line-top;
    @include line-bottom;
    margin-bottom: 15px;
    padding-right: 25px;
    font-family: $font-accent;
    font-weight: 700;
    font-size: 22px;
    line-height: 17px;
  }

  .article-page__note-num {
    position: relative;
    font-family: $font-accent;
    color: #0481c3;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  .article-page__note-popup {
    display: none;
    width: 270px;
    padding: 10px;
    padding-right: 35px;
    border: 1px solid $black;
    position: absolute;
    top: 17px;

    font-family: $font-main;
    color: $black;
    font-size: 12px;
    line-height: 15px;
    background-color: $white;
    transition: 0.6s;

    &.active {
      display: block;
    }
  }

  .article-page__note-close {
    @include close-btn;
    position: absolute;
    top: 7px;
    right: 11px;

    &::after,
    &::before {
      width: 20px;
    }

  }

  figure {
    @include line-top;
    @include line-bottom;
    margin: 0;
    margin-right: 25px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: auto;
      opacity: 0.2;
      transition: 0.6s;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  figcaption {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
  }

  .article-page__interview {
    @include line-top;

    p {}
  }

  .article-page__interview-name {
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
    font-family: $font-accent;
    font-weight: 700;
    text-transform: lowercase;
  }

  .article-page__note {
    @include line-top;
  }

  ol {
    counter-reset: num;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 25px;
    font-size: 12px;
    line-height: 15px;

    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;

      &::after {
        content: counter(num) '.';
        position: absolute;
        top: 0;

        left: 0;

        counter-increment: num;
      }
    }
  }
}

@media (min-width: $mobile-width-wide) {
  .article-page {
    .article-page__note-popup {
      width: 325px;
    }
  }
}

@media (min-width: $desktop-small-width) {
  .article-page {
    a {
      font-size: 22px;
      line-height: 30px;
    }

    p {
      margin-bottom: 30px;
      margin-left: 200px;
      padding-right: 50px;
      font-size: 22px;
      line-height: 30px;
    }

    .article-page__author-link {
      margin-bottom: -5px;
    }

    .article-page__author {
      font-size: 40px;
      line-height: 44px;
      padding-right: 50px;
    }

    h1 {
      font-size: 80px;
      line-height: 60px;
      padding-right: 50px;
      margin-bottom: 30px;
    }

    .article-page__tags {
      display: block;
      margin-bottom: 20px;
      padding-bottom: 0;
      padding-right: 50px;
      border: none;

      .tags__link {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .article-page__preface {
      p {
        margin-left: 0;
      }
    }

    blockquote {
      margin-bottom: 30px;
      padding-right: 50px;

      p {
        margin-bottom: 25px;
      }
    }

    cite {
      font-size: 22px;
      line-height: 30px;
      padding-right: 50px;
    }

    .article-page__caption {
      margin-bottom: 15px;
      padding-bottom: 23px;
      font-size: 40px;
      line-height: 31px;
    }

    .article-page__note-num {
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
    }

    .article-page__note-popup {
      width: 450px;
      padding: 15px;
      padding-right: 30px;
      top: 25px;

      font-size: 18px;
      line-height: 24px;
    }

    figure {
      margin-right: 0;

      img {
        width: 700px;
        height: auto;
        margin-bottom: 5px;
      }
    }

    figcaption {
      font-size: 18px;
      line-height: 24px;
    }

    .article-page__interview-name {
      font-size: 18px;
      line-height: 24px;
      margin-right: 15px;
    }

    ol {
      margin-left: 200px;
      font-size: 18px;
      line-height: 24px;

      li {
        position: relative;
        padding-left: 70px;
        padding-right: 50px;
        margin-bottom: 25px;
      }
    }

  }
}
